@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to group 3</h1>
    <p>Do we need to learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core? Yes.</a>.</p>

    <p>Some change in personal branch</p>
</div>
